/* Landing Page */


position: relative;
width: 1920px;
height: 1111px;

background: #FFFFFF;


/* Education */


position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* Experience */


position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* Projects */


position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* About me */


position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* 5848152fcef1014c0b5e4967 1 */


position: absolute;
width: 64px;
height: 64px;

background: url(5848152fcef1014c0b5e4967.png);
